.AddEvent {
    padding: 1em;
    background: #eee;
}
.AddEvent-button {
    padding: 9px 18px;
    border: none;

    background-color: #000000;
    color: #fff;

    font-size: inherit;
}
@media (max-width: 960px) {
    .AddEvent-button {
        display: block;
        margin-left: auto;
    }
}
