@import "./Field.css";

.Login {
    height: 100%;

    padding: 16px;

    display: flex;
    align-items: stretch;
    justify-content: center;

    flex-direction: column;
}
.Login-button {
    padding: 9px 18px;
    border: none;

    background-color: #000000;
    color: #fff;

    font-size: inherit;
}
