@import './EventList.css';
@import './AddEvent.css';

.Planner-panel {
    padding: 5px 0;
    background: #e7e7e7;
}
.Planner-container {
    position: relative;

    display: flex;
    max-width: 940px;
    margin: 0 auto;
}
.Planner-button {
    margin: 0 auto 0 0;
    padding: 9px 18px;
    border: none;

    background-color: #000;
    color: #fff;

    font-size: inherit;
}
@media (max-width: 960px) {
    .Planner-container {
        flex-direction: column;
    }
    .Planner-panel {
        padding-left: 18px;
        padding-right: 18px;
    }
}
